a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:#3250a8 ;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #b83901;
    background-color:#ffffff;
}
